*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.head {
    width: 100%;
    text-align: center;
    margin: 23px 0 0 0;
    font-size: 15px;
    background-image: linear-gradient(to left, rgb(134, 134, 255), rgb(2, 2, 41));
    background-size: cover;
    background-clip: text;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color:transparent;
    -webkit-text-fill-color:transparent;
}


.image{
    background-size: cover;
    background-image: url("../Image/image1.jpg");
    background-position: center;
    margin-top: 15px;
    text-align: center;
}

.main {
    display: inline;
    text-align: left;
    margin-left: 20px;
}

.container{
    width: 250px;
    border: 1px solid gray;
    display: inline-block;
    margin: 30px 0 30px 54px;
    border-radius: 10px;
    background-color: white;
}

.img img {
    width: 70%;
    padding: 5px 0 0px 0;
}

.img {
    text-align: center;
}

.title {
    font-size: 11px;
    color: darkorchid;
    line-height: 16px;
    padding: 10px;
}

.list {
    border-bottom: 1px solid rgb(191, 212, 252);
    margin: 10p;
    padding: 0 0 9px 0;
}

.list ul {
    margin-left: 29px;
}

.list ul li {
    padding: 3px;
    font-size: 12px;
}

.pricetag h2 {
    text-align: center;
    font-size: 24px;
    color: firebrick;
    font-weight: 700;
    margin: 4px 0 0;
}

.Btn_1 {
    text-align: center;
    margin-top: 10px;
    padding: 0 12px 0 12px;
}

.Btn_1 button {
    background-color: blue;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px 74px;
    border: none;
    text-align: center;
}


.Btn_2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 12px 0 12px;
}

.Btn_2 button {
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 51px;
    border: none;
    text-align: center;
}